<div class="topnav">
  <a class="active" href="https://uniexeterrse.github.io/UoE-workshop-template/">Home</a>
  <a href="https://uniexeterrse.github.io/UoE-workshop-template/code.html">Code of conduct</a>
  <a href="https://uniexeterrse.github.io/UoE-workshop-template/setup.html">Installation guide</a>
  <a href="https://uniexeterrse.github.io/UoE-workshop-template/contents.html">Course notes</a>
  <a href="https://uniexeterrse.github.io/UoE-workshop-template/resources.html">Resources</a>
</div>
